// wrap filter into a div with class filter. the current "filter" will have class input or text

.filter {
  position: relative;
  flex: 1 0 0;
  height: var(--block-height);
  background: transparent;

  // &:focus {
  //   box-shadow: none;
  // }

  &:hover {
    & .filter__input {
      background: var(--color-two-hover);
      transition: background-color 100ms ease-in-out, box-shadow 100ms ease-in-out;
    }

  }

  &__input {
    // top: 0;
    font-size: 1rem;
    background: var(--color-two);
    color: white;
    padding: var(--greater-padding);
    padding-left: var(--block-height);
    padding-right: var(--block-height);
    height: 100%;
    // height: 40px;
    width: 100%;
    // width: 16rem;
    border: 0;
    overflow-x: scroll;
    border-radius: var(--lesser-padding);
    box-shadow: 0 0 0 2px var(--color-one);
    transition: background-color 100ms ease-in-out, box-shadow 100ms ease-in-out;

    // &:hover {
    //   background: var(--color-two-hover);
    //   transition: background-color 100ms ease-in-out, box-shadow 100ms ease-in-out;
    // }

    &:focus {
      box-shadow: inset 0 0 0 2px lime;
      transition: background-color 100ms ease-in-out, box-shadow 100ms ease-in-out;
    }

    &--cleared {
      color: transparent;
      transition: color 100ms ease-out;
    }
  }

  &__icon {
    position: absolute;
    top: var(--greater-padding);
    left: var(--greater-padding);
    pointer-events: none;

    // & path {
    //   stroke: lime;
    // }
  }

  &__remove-text-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    pointer-events: none;
  }

  &__remove-text-btn {
    position: absolute;
    padding: 0;
    z-index: 1;
    top: var(--lesser-padding);
    right: var(--lesser-padding);
    width: 1.4rem;
    height: 1.4rem;
    border-radius: var(--lesser-padding);
    background: transparent;


    &:focus {
      box-shadow: inset 0 0 0 2px lime;
    }

    &:hover {
      background: var(--color-two-pressed);
      transition: background-color 20ms ease-in-out;
    }

    &:active {
      transform: scale(0.96);
      transition: transform 20ms ease-in-out;
    }

    &--disabled {
      pointer-events: none;
      cursor: default;
      opacity: 0.5;
      transition: opacity 80ms ease-out, background-color 0ms;
    }
  }

}