// wrap filter into a div with class filter. the current "filter" will have class input or text

.filter {
  position: relative;
  flex: 1 0 0;
  height: var(--block-height);
  width: 400px;
  // background: transparent;
  background: var(--color-two);
  --x-pos: 0;
  --y-pos: 0;
  --bounds-left: var(--lesser-padding);
  --bounds-top: var(--lesser-padding);
  overflow: hidden;
  z-index: 0;
  font-family: 'Open Sans', sans-serif;

  &::before {
    content: "";
    pointer-events: none;
    z-index: 99;
    position: fixed;
    top: var(--lesser-padding);
    left: 0;
    height: var(--block-height);
    width: 5px;
    opacity: 0;
    // background: #9932CC;
    background: var(--color-accent-two);
    transition: opacity 100ms ease-out;
  }

  &::after {
    content: "";
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 68rem;
    height: 68rem;
    z-index: -1;
    opacity: 0;
    background: radial-gradient(circle at center, var(--color-two-hover), transparent 50%);
    // transform: translate(calc(var(--x-pos) - 50%), calc(var(--y-pos) - 50%));
    transform: translate(calc(calc(var(--pointer-x-pos) - var(--bounds-left)) - 50%), calc(calc(var(--pointer-y-pos) - var(--bounds-top)) - 50%));
    transition: opacity 100ms ease-out;
  }

  &:hover {

    &::after {
      content: "";
      opacity: 1;
      transition: opacity 100ms ease-in;
    }

  }

  &--disabled {
    // pointer-events: none;
    cursor: default;
    opacity: 0.5;
    transition: opacity 80ms ease-out, background-color 30ms ease-in-out;

    &:hover {

      &::after {
        content: "";
        opacity: 0;
        transition: opacity 100ms ease-in;
      }

    }
  }

  &--active {
    &::before {
      content: "";
      opacity: 1;
      transition: opacity 100ms ease-out;
    }
  }

  &__input {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 1rem;
    background: transparent;
    color: var(--color-three);
    padding: var(--greater-padding);
    padding-left: var(--block-height);
    padding-right: var(--block-height);
    height: 100%;
    width: 100%;
    border: 0;
    z-index: 1;
    transition: box-shadow 100ms ease-in;

    &:focus {
      box-shadow: inset 0 0 0 2px var(--color-accent-one);
      transition: box-shadow 100ms ease-in;
    }

    &::selection {
      background: var(--color-one);
    }
  }

  &__icon {
    position: absolute;
    top: var(--greater-padding);
    left: var(--greater-padding);
    pointer-events: none;
  }

  &__remove-text-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    pointer-events: none;
  }

  &__remove-text-btn {
    position: absolute;
    padding: 0;
    z-index: 1;
    top: var(--lesser-padding);
    right: var(--lesser-padding);
    width: 1.4rem;
    height: 1.4rem;
    // border-radius: var(--lesser-padding);
    background: transparent;

    &:focus {
      transition: background-color 100ms ease-in-out, box-shadow 100ms ease-out;
    }

    &:hover {
      background: var(--color-two-pressed);
      transition: background-color 100ms ease-in-out;
    }

    &:active {
      transform: scale(0.96);
      transition: transform 30ms ease-out, background-color 30ms ease-out;
    }

    &--disabled {
      cursor: default;
      opacity: 0.5;
      background: transparent;
      transition: transform 30ms ease-out, opacity 100ms ease-out, background-color 100ms ease-out;

      &:hover {
        background: transparent;
      }
    }
  }

}