*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*:focus {
  outline: none;
  // outline: 3px solid transparent;
  box-shadow: inset 0 0 0 2px lime;
}

:root {
  // --scroll-drag-speed: 5000ms;
  --block-height: 2rem;
  --border-radius: calc(var(--block-height) / 4);
  --scrolltop: 0;
  // --color-one: #363d49;
  --color-one: #212e45;
  // --color-two: #586B74;
  // --color-two: #2A3A5A;
  // --color-two: #2F4165;
  // --color-two: #314368;
  --color-two: #34486F;
  // --color-two: #5C76B2;
  // --color-two-hover: #5E747D;
  // --color-two-hover: #395179;
  --color-two-hover: #3C5580;
  --color-two-pressed: #2a3b5a;
  --pointer-x-pos: 0;
  --pointer-y-pos: 0;

  --below-deleted-animation-duration: 200ms;
  --color-three: #eee;
  --color-four: #ccc;
  --golden-ratio: 1.61803398875;
  --greater-padding: 0.5rem;
  --lesser-padding: 0.3rem;
  // --icon-color: white;
  --icon-color: #eee;
  --num-of-deleted: 0;
  --header-height: calc(var(--block-height) + var(--lesser-padding) * 2);
  --thumb-height: 0;
  font-size: 20px;
  font-family: 'Open Sans', sans-serif;
  color: var(--color-one);
  // background-image: radial-gradient(circle at 0% 100%, #261212 0%, transparent 70%),
  // radial-gradient(circle at 100% 0%, #122428 0%, transparent 100%);
  // background-image: linear-gradient(45deg, #343a42 0%, transparent 100%), 
  // linear-gradient(-45deg, #122428 0%, transparent 100%);
  // background-image: linear-gradient(45deg, #343a42 0%, transparent 100%), 
  // linear-gradient(45deg, #122428 0%, transparent 100%);
  // background-image: linear-gradient(45deg, #343a42 0%, transparent 100%);
  background-color: var(--color-one);
  height: 100%;
  // width: 36rem;
  // background: green;

}

html,
body {
  height: 100%;
}

body {
  position: relative;
  width: 34rem;
  overflow: hidden;
}


button {
  cursor: pointer;
  border: none;
}

// * {
//   scrollbar-width: thin;
//   scrollbar-color: var(--color-two) #3d3e48;
// }

// *::-webkit-scrollbar {
//   width: calc(var(--lesser-padding) * 3);
// }

// *::-webkit-scrollbar-track {
//   background: #3d3e48;
//   // background: red;
//   // width: 4rem;
// }
// *::-webkit-scrollbar-thumb {
//   background-color: var(--color-two);
//   border-radius: var(--greater-padding);
//   border: var(--lesser-padding) solid #3d3e48;

//   &:active {
//     background-color: #AAB;
//   }
// }

// .bottom-div {
//   z-index: 4;
//   opacity: 0.5;
//   position: fixed;
//   width: 100%;
//   height: 138px;
//   background: green;
//   bottom: 0;
// }

.scrollbar-track {
  --scrolltop: 0;
  transform: translateY(var(--scrolltop));
  position: absolute;
  top: 0;
  left: calc(34rem - var(--lesser-padding) * 3);
  width: calc(var(--lesser-padding) * 3);
  height: 100%;
  padding: 0 var(--lesser-padding);

  &__thumb {
    --x-pos: 0;
    --y-pos: 0;
    --ratio: 1;
    --thumb-height: 0;
    --thumb-offset: 0;
    position: relative;
    height: var(--thumb-height);
    transform: translateY(var(--thumb-offset));
    width: var(--lesser-padding);
    background: var(--color-two);
    transition: background-color 100ms ease-in-out;
    overflow: hidden;

    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 68rem;
      height: 68rem;
      z-index: -1;
      opacity: 0;
      background: radial-gradient(circle at center, var(--color-two-hover), transparent 50%);
      transform: translate(calc(var(--x-pos) - 50%), calc(var(--y-pos) - 50%));
      // transition: none;
      transition: opacity 100ms ease-out;
    }

    &:hover {
      &::after {
        content: "";
        opacity: 1;
        transition: opacity 100ms ease-in;
      }
    }

    &--transforming {
      transform-origin: top;
      transform: translateY(var(--thumb-offset)) scaleY(var(--ratio));
      transition: transform var(--below-deleted-animation-duration) ease-out;
      background: #9932CC;

      &:hover {
        &::after {
          content: "";
          opacity: 0;
          transition: none;
        }
      }
    }
  }

  &--hidden {
    visibility: hidden;
    transition: none;
    // display: none;
  }
}