.header {
  position: relative;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  padding: var(--lesser-padding);
  width: 100%;

  // &::before {
  //   content: "";
  //   position: absolute;
  //   top: var(--lesser-padding);
  //   left: 0;
  //   height: var(--block-height);
  //   width: 5px;
  //   background: #9932CC;
  // }
}