.menu-item-btn {
  position: relative;
  height: var(--block-height);
  width: var(--block-height);
  overflow: hidden;
  user-select: none;
  border: 0;
  border-radius: var(--lesser-padding);
  background: var(--color-two);
  padding: var(--greater-padding);
  text-indent: var(--block-height);
  white-space: nowrap;
  margin-left: var(--lesser-padding);
  transition: background-color 100ms ease-in-out, box-shadow 100ms ease-in-out;
  box-shadow: 0 0 0 2px var(--color-one);

  &:hover {
    background: var(--color-two-hover);
    transition: background-color 100ms ease-in-out, box-shadow 100ms ease-in-out;
  }

  &:focus {
    box-shadow: inset 0 0 0 2px lime, 0 0 0 2px var(--color-one);
    // box-shadow: 0 0 0 2px var(--color-one);
    transition: background-color 30ms ease-in-out, box-shadow 100ms ease-in-out;
  }

  &:active {

    transform: scale(0.96);
    background: var(--color-two-pressed);
    box-shadow: inset 0 0 0 2px lime;
    // background: radial-gradient(circle at 50% 120%, var(--color-one), rgba(38, 38, 44, 0.5) 120%);
    transition: background-color 20ms ease-in-out,
      transform 20ms ease-in-out;
  }

  &--disabled {
    pointer-events: none;
    cursor: default;
    opacity: 0.5;
    transition: opacity 80ms ease-out;

    &:hover {
      background: var(--color-two);
    }
  }

  &__icon {
    position: absolute;
    top: var(--greater-padding);
    left: var(--greater-padding);
    pointer-events: none;
  }
}