.tab {
  user-select: none;
  position: relative;
  display: flex;
  align-items: stretch;
  height: var(--block-height);
  background: var(--color-two);
  color: var(--color-three);
  margin: 0 0 var(--lesser-padding) 0;
  padding: var(--greater-padding) var(--block-height) var(--greater-padding) 0;
  --moved-offset: 0px;
  --filter-offset: 0px;
  --deleted-offset: 0px;
  --drag-offset: 0px;
  --misc-offset: 0;
  --trans-delay: 0ms;
  --opacity-delay: 0ms;
  --trans-duration: 0ms;
  --opacity-duration: 0ms;
  --sign: 0;
  --opacity: 1;
  --backdrop-filter: none;
  // --x-pos: 18rem;
  // --y-pos: 1rem;
  --bounds-left: var(--lesser-padding);
  --bounds-top: 0;
  --animation-iteration-count: 0;
  --scale: 1;
  visibility: visible;
  touch-action: none;
  stroke: transparent;
  backdrop-filter: var(--backdrop-filter);
  transition: background-color 100ms ease-out, padding 0ms 400ms;
  animation: returnToNormal 80ms ease-out var(--animation-iteration-count);
  font-family: 'Open Sans', sans-serif;
  --special-z-index: 0;
  z-index: var(--special-z-index);

  &:hover {
    & .tab__tab-button {
      &::after {
        content: "";
        opacity: 1;
        transition: opacity 100ms ease-in;
      }
    }
  }

  &--filtered-out {
    pointer-events: none;
    visibility: hidden;
    opacity: 0;
    transform: translateY(var(--filter-offset));
    transition: opacity var(--opacity-duration) var(--opacity-delay) ease-in-out, transform var(--trans-duration) var(--trans-delay) ease-in-out, visibility var(--opacity-duration) var(--opacity-delay);

    &:hover {
      transition: opacity var(--opacity-duration) var(--opacity-delay) ease-in-out, transform var(--trans-duration) var(--trans-delay) ease-in-out, visibility var(--opacity-duration) var(--opacity-delay);
    }
  }

  &--filtered {
    opacity: 1;
    transform: translateY(var(--filter-offset));
    // animation: backwards;
    transition: transform var(--trans-duration) var(--trans-delay) ease-in-out, opacity var(--opacity-duration) var(--opacity-delay) ease-in-out, stroke 200ms ease-out;


    &:hover {
      transition: transform var(--trans-duration) var(--trans-delay) ease-in-out, opacity var(--opacity-duration) var(--opacity-delay) ease-in-out, stroke 200ms ease-out;
    }

  }


  &--active {

    overflow: visible;

    &::before {
      content: "";
      width: 2rem;
      position: absolute;
      right: calc(100% + 1px);
      top: 0;
      height: 100%;
      background: var(--color-accent-one);
    }

  }

  &__tab-button {
    top: 0;
    left: 0;
    position: absolute;
    overflow: hidden;
    width: 100%;
    height: 100%;
    background: transparent;
    touch-action: none;
    transition: box-shadow 100ms ease-in;

    &:focus {
      box-shadow: inset 0 0 0 2px var(--color-accent-one);
      transition: box-shadow 100ms ease-in;
    }

    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 72rem;
      height: 72rem;
      z-index: -1;
      opacity: 0;
      background: radial-gradient(circle at center, var(--color-two-hover), transparent 50%);
      transform: translate(calc(calc(var(--pointer-x-pos) - var(--bounds-left)) - 50%), calc(calc(var(--pointer-y-pos) - var(--bounds-top)) - 50%));
      transition: opacity 100ms ease-out;
    }
  }

  &__checkbox-label {
    position: absolute;
    top: var(--lesser-padding);
    left: var(--lesser-padding);
    padding: 0;
    z-index: 1;
    width: 1.4rem;
    height: 1.4rem;

    &:hover {
      background: var(--color-two-pressed);
      transition: background-color 100ms ease-in;
    }
  }

  &__checkbox {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;

    &:focus+svg {
      color: var(--color-accent-one);
      box-shadow: 0 0 0 2px var(--color-two-hover), 0 0 0 4px;
      transition: color 100ms ease-in;
    }

    &:checked+svg .tab__svg-checkbox-box {
      fill: var(--color-three);
      transition: fill 20ms ease-out;
    }

    &:checked+svg .tab__svg-checkbox-checkmark {
      stroke: var(--color-two);
    }
  }

  &__svg-checkbox {
    color: transparent;
    width: 1rem;
    height: 1rem;
    position: absolute;
    pointer-events: none;
    top: 0.2rem;
    left: 0.2rem;
    box-shadow: none;
    transition: color 100ms ease-in;

    &-box {
      fill: transparent;
      transition: fill 20ms ease-out;
    }

    &-checkmark {
      stroke: transparent;
      transition: stroke 20ms ease-out;
    }
  }

  &__favicon {
    border: none;
    width: 1rem;
    height: 1rem;
    margin-right: var(--greater-padding);
    margin-left: var(--block-height);
  }

  &__title {
    position: relative;
    pointer-events: none;
    user-select: none;
    margin: 0;
    flex: 1 0 0;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }

  &__close-tab-button {
    position: absolute;
    top: var(--lesser-padding);
    right: var(--lesser-padding);
    z-index: 1;
    width: 1.4rem;
    height: 1.4rem;
    background: transparent;
    transition: background-color 100ms ease-in;

    &:focus {
      box-shadow: inset 0 0 0 2px var(--color-accent-one);
      transition: box-shadow 100ms ease-in, background-color 100ms ease-in;
    }

    &:hover {
      background: var(--color-two-pressed);
      transition: background-color 100ms ease-in;
    }

    & img {
      position: absolute;
      top: 0.2rem;
      left: 0.2rem;
      pointer-events: none;
    }

    &:active {
      transform: scale(0.96);
      transition: transform 20ms ease-in-out;
    }
  }

  &--held-down {
    position: relative;
    transform: translateY(var(--filter-offset)) scale(0.99);
    background: transparent;
    transition: transform 60ms ease-out;

    &:hover {
      // background: transparent;
      // transition: transform 138ms ease-out;

      & .tab__tab-button {
        &::after {
          content: "";
          background: transparent;
          transition: none;
        }
      }

    }

    & .tab__tab-button {

      &::before {
        content: "";
        position: absolute;
        width: 720rem;
        height: 720rem;
        top: 0;
        left: 0;
        z-index: -1;
        transform: translate(calc(calc(var(--pointer-x-pos) - var(--bounds-left)) - 50%), calc(calc(var(--pointer-y-pos) - var(--bounds-top)) - 50%)) scale(0.1);
        transition: none;
        background: radial-gradient(circle at center, transparent 0.5%, var(--color-two) 1% 100%);
        // background: radial-gradient(circle at center, transparent 0.5%, red 1% 100%);
        animation: 320ms ease-in forwards heldDown;
      }

      &::after {
        content: "";
        background: transparent;
        transition: none;
      }
    }

  }

  &--draggable {
    pointer-events: none;
    animation: 80ms ease-out forwards draggable;
    cursor: grabbing;
    background: transparent;
    transform: translateY(calc(var(--filter-offset) + var(--drag-offset)));
    transition: none;
    box-shadow: none;


    & .tab__tab-button {
      cursor: grabbing;
      z-index: -1;
      backdrop-filter: blur(6px);

      &:focus {
        box-shadow: inset 0 0 0 2px var(--color-accent-one);
        transition: box-shadow 100ms ease-in-out;
      }

      &::after {
        // z-index: -100;
        content: "";
        position: absolute;
        transform: none;
        background: transparent;
      }
    }

  }

  &--moving {
    pointer-events: none;
    opacity: var(--opacity);
    transform: translateY(var(--filter-offset)) scale(var(--scale));
    animation: var(--animation-duration) 80ms ease-in forwards moving;
    transition: transform 80ms ease-in, opacity 80ms ease-in;
    z-index: -1;
  }

  &--peach {
    animation: calc(var(--animation-duration) + 80ms) ease-in forwards moving;
  }

  &--floating {
    pointer-events: none;
    opacity: var(--opacity);
    background: var(--color-two-hover);
    transform: translateY(calc(var(--filter-offset) + var(--drag-offset))) scale(var(--scale));
    animation: none;
    transition: transform 60ms ease-in-out, opacity 60ms ease-in-out;
    z-index: -1000;
  }

  &--pinned {
    & .tab__pinned-indicator {

      & path {
        transition: stroke 3000ms ease-out;
      }
    }
  }

  &--pinned.tab--tethered {
    pointer-events: none;

    & .tab__pinned-indicator {

      & path {
        stroke: var(--color-accent-two);
        transition: stroke 100ms ease-out;
      }
    }
  }

  &--pinned.tab--draggable {
    // transform: translateY(calc(var(--filter-offset) + var(--drag-offset)));

    & .tab__pinned-indicator {
      & path {
        stroke: var(--color-accent-two);
        transition: stroke 100ms ease-out;
      }
    }
  }

  &__duplicate-indicator {
    pointer-events: none;
    position: absolute;
    right: var(--block-height);
    opacity: 0;
    visibility: hidden;
    transition: opacity 200ms ease-out, visibility 0ms 200ms;
  }

  &__pinned-indicator {
    pointer-events: none;
    position: absolute;
    right: var(--block-height);
    transition: transform 200ms 200ms ease-out;

    & path {
      transition: stroke 100ms ease-out;
    }
  }

  &--duplicate {

    padding-right: calc(calc(var(--block-height) * 2) - var(--greater-padding));

    & .tab__duplicate-indicator {
      margin-left: var(--greater-padding);
      visibility: visible;
      opacity: 1;
      transition: none;
    }

  }

  &--pinned {
    padding-right: calc(calc(var(--block-height) * 2) - var(--greater-padding));
  }

  &--pinned.tab--duplicate {

    padding-right: calc(calc(var(--block-height) * 3) - var(--greater-padding) - var(--greater-padding));

    & .tab__pinned-indicator {
      position: absolute;
      right: var(--block-height);
      transform: translateX(calc(calc(var(--block-height) - var(--greater-padding)) * -1));
      margin-left: var(--greater-padding);
      transition: none;
    }

    & .tab__duplicate-indicator {
      position: absolute;
      right: var(--block-height);
    }
  }

  &--deleted {
    pointer-events: none;
    opacity: 0;
    transition: opacity 100ms ease-out;

    &~li {
      animation: var(--animation-duration) 100ms ease-out forwards belowDeleted;
    }
  }

  &--moved-out {
    pointer-events: none;
    opacity: 0;
    transform: translateX(calc(calc(100% + var(--lesser-padding)) * var(--sign))) translateY(var(--filter-offset));
    transition: transform 200ms ease-out, opacity 0ms 200ms;

    &~li {
      animation: var(--animation-duration) 200ms ease-out forwards belowDeleted;
    }
  }
}

@keyframes belowDeleted {
  from {
    transform: translateY(var(--filter-offset));
  }

  to {
    transform: translateY(calc(var(--filter-offset) + var(--deleted-offset)));
  }
}

@keyframes draggable {
  from {
    transform: translateY(calc(var(--filter-offset) + var(--drag-offset))) scale(0.99)
  }

  to {
    transform: translateY(calc(var(--filter-offset) + var(--drag-offset))) scale(var(--scale))
  }
}

@keyframes moving {
  from {
    transform: translateY(var(--filter-offset)) scale(var(--scale));
  }

  to {
    transform: translateY(calc(var(--filter-offset) + var(--moved-offset))) scale(var(--scale));
  }
}

@keyframes movingHorizontally {

  to {
    transform: translateX(calc(calc(100% + var(--lesser-padding)) * var(--sign)));
  }
}


@keyframes returnToNormal {
  from {
    opacity: var(--opacity);
    transform: translateY(calc(var(--misc-offset) + var(--filter-offset))) scale(var(--scale));
  }

  to {
    opacity: 1;
    transform: translateY(var(--filter-offset)) scale(1);
  }
}

@keyframes heldDown {
  from {
    // transform: translate(calc(var(--x-pos) - 50%), calc(var(--y-pos) - 50%)) scale(0.1);
    transform: translate(calc(calc(var(--pointer-x-pos) - var(--bounds-left)) - 50%), calc(calc(var(--pointer-y-pos) - var(--bounds-top)) - 50%)) scale(0.1);
  }

  to {
    // transform: translate(calc(var(--x-pos) - 50%), calc(var(--y-pos) - 50%)) scale(14);
    transform: translate(calc(calc(var(--pointer-x-pos) - var(--bounds-left)) - 50%), calc(calc(var(--pointer-y-pos) - var(--bounds-top)) - 50%)) scale(14);
  }
}